.register .left {
  background: url("/public/images/register_bg.png") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 100;
}

.register .left::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #072284f4;
  opacity: 90%;
  z-index: -1;
}
.register .left h1 {
  position: relative;
}
.register .left h1::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 90px;
  background-color: white;
  border-radius: 10px;
  bottom: -10px;
  left: 0;
}
.text-primary {
  color: #253d90;
}
